fastapi==0.115.8
langchain==0.3.18
langchain_community==0.3.17
langchain_core==0.3.34
langchain_ollama
langchain_openai==0.3.4
langchain_text_splitters==0.3.6
langchain-huggingface
beautifulsoup4
pydantic==2.10.6
pyodbc
pypdf
python-multipart==0.0.5
python-dotenv
uvicorn==0.15.0
rank_bm25
bcrypt
itsdangerous
qdrant-client
langchain-qdrant
PyJWT
validators
playwright
docx2txt
